.mediaViewInfo {
	--web-view-name: Pokaż więcej - finansowe;
	--web-view-id: Poka_wicej_-_finansowe;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Poka_wicej_-_finansowe;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Poka_wicej_-_finansowe {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Pokaż więcej - finansowe;
	--web-view-id: Poka_wicej_-_finansowe;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NAGWEK_u {
	left: 123px;
	top: 311px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Component_1__9 {
	position: absolute;
	width: 1672px;
	height: 311px;
	left: 124px;
	top: 311px;
	overflow: visible;
}
#Rectangle_5_u {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_u {
	position: absolute;
	overflow: visible;
	width: 1672px;
	height: 311px;
	left: 0px;
	top: 0px;
}
#Rectangle_12_u {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12_u {
	position: absolute;
	overflow: visible;
	width: 960px;
	height: 565px;
	left: 124px;
	top: 311px;
}
#Rectangle_13_u {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13_u {
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 565px;
	left: 1084px;
	top: 311px;
}
#Rectangle_14_va {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14_va {
	position: absolute;
	overflow: visible;
	width: 284px;
	height: 565px;
	left: 1512px;
	top: 311px;
}
#Line_9_vb {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9_vb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 20px;
	left: 123.5px;
	top: 373.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10_vc {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10_vc {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 437.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_vd {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_vd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 501.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12_ve {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ve {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 565.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Usuga_pierwsza_vf {
	left: 123px;
	top: 387px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_druga_vg {
	left: 122px;
	top: 451px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_czwarta_vh {
	left: 122px;
	top: 515px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_trzecia_vi {
	left: 123px;
	top: 574px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID200_vj {
	left: 1080px;
	top: 383px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID320_vk {
	left: 1081px;
	top: 447px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID400_vl {
	left: 1081px;
	top: 511px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID690_vm {
	left: 1080px;
	top: 570px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 306px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Group_24 {
	position: absolute;
	width: 23px;
	height: 28px;
	left: 1382.5px;
	top: 328.5px;
	overflow: visible;
}
#Line_24 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 29px;
	left: 12px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_25 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 16.239px;
	height: 15.239px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_26 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_26 {
	overflow: visible;
	position: absolute;
	width: 15.243px;
	height: 15.243px;
	left: 12px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_27 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_27 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 688.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_28 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_28 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 752.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_29 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_29 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 816.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Usuga_pita {
	left: 123px;
	top: 638px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_szsta {
	left: 122px;
	top: 702px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_sidma {
	left: 122px;
	top: 766px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Usuga_sma {
	left: 123px;
	top: 825px;
	position: absolute;
	overflow: hidden;
	width: 961px;
	height: 41px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID270 {
	left: 1080px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID550 {
	left: 1081px;
	top: 698px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID420 {
	left: 1081px;
	top: 762px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#ID90 {
	left: 1080px;
	top: 821px;
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 55px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(0,0,0,1);
}
#Line_30 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_30 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1691px;
	height: 19px;
	left: 123.5px;
	top: 624.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4_v {
	position: absolute;
	width: 1920px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_v {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_v {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#LOGO_v {
	left: 123px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Strona_gwna_v {
	left: 1104px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Strona_g__wna_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Oferta_v {
	left: 1394px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Oferta_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Kontakt_v {
	left: 1549px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Kontakt_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Twj_koszyk_v {
	position: absolute;
	width: 339px;
	height: 60px;
	left: 1450px;
	top: 107px;
	overflow: visible;
}
#Rectangle_4_wa {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wa {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Twj_koszyk_wb {
	left: 55px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 231px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(0,0,0,1);
}
#Rectangle_6_wc {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_wc {
	position: absolute;
	overflow: visible;
	width: 347px;
	height: 60px;
	left: 122px;
	top: 107px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Oferta_wyszukiwanie.html;
	cursor: pointer;
}
#Nazwa_usugi_wd {
	left: 124px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 961px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Cena_z_we {
	left: 1084px;
	top: 311px;
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 62px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Zamw_usug_wf {
	left: 1512px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 286px;
	height: 63px;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Usugi_Ksigowe_wg {
	left: 626px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 669px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_wh {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 825px;
	overflow: visible;
}
#Rectangle_4_wi {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wi {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_wj {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__wk {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_wl {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 761px;
	overflow: visible;
}
#Rectangle_4_wm {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wm {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_wn {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__wo {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_wp {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 695px;
	overflow: visible;
}
#Rectangle_4_wq {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wq {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_wr {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__ws {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_wt {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 634px;
	overflow: visible;
}
#Rectangle_4_wu {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wu {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_wv {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__ww {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_wx {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 570px;
	overflow: visible;
}
#Rectangle_4_wy {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_wy {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_wz {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__w {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_w {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 511px;
	overflow: visible;
}
#Rectangle_4_w {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_w {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_w {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__xa {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_xa {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 445px;
	overflow: visible;
}
#Rectangle_4_xa {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_xa {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_xa {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__xb {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Poka_wicej_1_xb {
	position: absolute;
	width: 261px;
	height: 58px;
	left: 1524px;
	top: 381px;
	overflow: visible;
}
#Rectangle_4_xb {
	fill: rgba(255,255,255,1);
	stroke: rgba(75,75,75,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_xb {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Group_27_xb {
	position: absolute;
	width: 207px;
	height: 54px;
	left: 27px;
	top: 4px;
	overflow: visible;
}
#Dodaj_do_koszyka__xc {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}