.mediaViewInfo {
	--web-view-name: Strona główna 1;
	--web-view-id: Strona_gwna_1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Strona_gwna_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Strona_gwna_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Strona główna 1;
	--web-view-id: Strona_gwna_1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
#Rectangle_1 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#LOGO {
	left: 123px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Strona_gwna {
	left: 1104px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Oferta {
	left: 1394px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Oferta_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Kontakt {
	left: 1549px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Kontakt_1.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Path_1 {
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 23px;
	left: 1877px;
	top: 497px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Strona_g__wna_2.html;
	cursor: pointer;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 1877px;
	top: 529px;
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Strona_g__wna_3.html;
	cursor: pointer;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 1877px;
	top: 561px;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1461px;
	height: 900px;
	left: 357px;
	top: 119px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 1461.524px;
	height: 900.851px;
	left: 357.5px;
	top: 119.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 1461.524px;
	height: 900.851px;
	left: 357.5px;
	top: 119.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 447px;
	height: 766px;
	left: 65px;
	top: 202px;
}
#NAGWEK {
	left: 123px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Lorem_ipsum_dolor_sit_amet_con {
	left: 123px;
	top: 325px;
	position: absolute;
	overflow: hidden;
	width: 340px;
	height: 497px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#Group_8 {
	position: absolute;
	width: 339px;
	height: 70px;
	left: 123px;
	top: 854px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Oferta_1.html;
	cursor: pointer;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Sprawd_ofert {
	left: 51px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 230px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(0,0,0,1);
}